includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - database
    level: 6

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - vendor/*
        - tests/CreatesApplication.php

    universalObjectCratesClasses:
        - Illuminate\Support\Fluent

