includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - database
    level: 6

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - vendor/*

    universalObjectCratesClasses:
        - Illuminate\Support\Fluent

    ignoreErrors:
        -
            message: '#Trait .* is used zero times and is not analysed.#'
            path: src/Traits/HasPlanSubscriptions.php
        -
            message: '#Trait .* is used zero times and is not analysed.#'
            path: src/Traits/TracksFeatureUsage.php

